@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --navy: #142b6f;
  --gold: #ffd601;
  --off-navy: #1a2d7a;
  --light-navy: #233d91;
  --gray-bg: #f8f9fb;
}

body {
  background-color: var(--navy);
  color: white;
}
html,
body {
  scroll-behavior: smooth;
}
html,
body {
  height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

main {
  -webkit-overflow-scrolling: touch; /* ✅ ensures smooth scrolling on iPhones */
}
